<!-- videos.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/md-page.js"></script><noscript>
# Videos

## Joel Collins' presentation at PyCon 2019

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/0F1pBmWuU3M" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
